@model ShoeShopping.Models.ViewModels.ShoppingCartViewModel
@using Microsoft.AspNetCore.Http
@using ShoeShopping.Extensions
@{
    ViewData["Title"] = "Index";
    int sum = 0;
    DateTime date = DateTime.Now;
}
@inject IHttpContextAccessor HttpContextAccessor
<form method="post">
    <br /><br />
    <h2 class="text-info"> Your Shopping Cart</h2>
    <br />
    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count > 0)
    {
        @if (Model.Products.Count > 0)
        {
            <div class="container border border-secondary rounded" style="padding:15px;">
                <div class="row">
                    <div class="col-8" style="border-right:1px solid #bbb9b9;">
                        <table class="table table-striped">
                            <tr class="table-info">
                                <th style="text-align:center;" width="20%">
                                    <label>Image</label>
                                </th>
                                <th style="text-align:center;">
                                    <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                                </th>
                                <th style="text-align:center;">
                                    <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                                </th>
                                <th style="text-align:center;">
                                    <label asp-for="@Model.Products.FirstOrDefault().Gender"></label>
                                </th>
                                <th style="text-align:center;">
                                    @*<label asp-for="@Model.Products.FirstOrDefault().CategoryProducts.Name"></label>*@
                                    <label>Category</label>
                                </th>
                                <th style="text-align:center;">
                                    @*<label asp-for="@Model.Products.FirstOrDefault().ProductTags.Name"></label>*@
                                    <label>Tag</label>
                                </th>
                                <th style="text-align:center;">
                                </th>
                            </tr>
                            @foreach (var item in Model.Products)
                            {

                                <tr style="padding:50px;">
                                    <td>
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                                            <img src="@item.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                                        </a>
                                    </td>
                                    <td style="text-align:center;">

                                        @Html.DisplayFor(c => item.Name)

                                    </td>
                                    <td style="text-align:center;">
                                        @if (item.Discount > 0)
                                        {
                                            @Html.DisplayFor(c => item.New_Price)
                                            sum += Convert.ToInt32(item.New_Price);
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(c => item.Price)
                                            sum += Convert.ToInt32(item.Price);
                                        }
                                    </td>
                                    <td style="text-align:center;">

                                        @Html.DisplayFor(c => item.Gender)

                                    </td>
                                    <td style="text-align:center;">
                                        @Html.DisplayFor(c => item.CategoryProducts.Name)

                                    </td>
                                    <td style="text-align:center;">
                                        @Html.DisplayFor(c => item.ProductTags.Name)

                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-id="@item.Id"><i class="fa fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        </table>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <b><label asp-for="Bills.TotalPrice" style="margin-left:10px;"></label></b>
                            </div>
                            <div class="col-4">
                                
                            </div>
                            <div class="col-4">
                                <input asp-for="@Model.Bills.TotalPrice" readonly value="@sum" class="form-control" style="text-align:center" />
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="padding-left:30px;">
                        <div class="row">
                            <div class="col-12">
                                <label>Bill Name: </label>
                            </div>
                            <div class="col-12">
                                <input asp-for="@Model.Bills.Name" readonly type="text" id="billname" value="" class="form-control" />
                            </div>

                            <div class="col-12">
                                <label>Date: </label>
                            </div>
                            <div class="col-12">
                                <input asp-for="@Model.Bills.BillDate" type="text" readonly value="" id="currentDate" class="form-control" />
                            </div>

                            <div class="col-12">
                                <label>Time: </label>
                            </div>
                            <div class="col-12">
                                <input asp-for="@Model.Bills.BillTime" type="text" readonly value="" id="currentTime" class="form-control" />
                            </div>


                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-success" style="margin:18px">Create Bill</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>No items in your shopping cart...</div>
    }

</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() + '/' +
                (month < 10 ? '0' : '') + month + '/' +
                (day < 10 ? '0' : '') + day;

            var h = d.getHours();
            var m = d.getMinutes();
            var values = h + ":" + m;

            var bill_name = "HD" + d.getFullYear() + month + day;
            $("#currentDate").attr('value', output);
            $("#currentTime").attr('value', values);
            $("#billname").attr('value', bill_name);
        })
    </script>
}

